.card {
  display: flex;
  justify-content: center;
}

.user-wrapper {
  display: flex;
  justify-content: center;
  margin-top: 2rem;

  .user-card {
    border: 1px solid #ccc;
    padding: 1rem;
    width: 250px;
    border-radius: 8px;
  }
}
