<form [formGroup]="userForm" class="user-form">
  <div class="user-input">
    <label>First name</label>
    <app-form-input formControlName="firstName"></app-form-input>
  </div>

  <div class="user-input">
    <label>Last name</label>
    <app-form-input formControlName="lastName"></app-form-input>
  </div>

  <div class="user-input">
    <label>Email</label>
    <app-form-input formControlName="email"></app-form-input>
  </div>

  <div class="user-input">
    <label>Phone</label>
    <app-form-input formControlName="phone"></app-form-input>
  </div>

  <app-button
    label="Submit"
    (clicked)="onButtonClick()"
    [disabled]="!userForm.valid"
    class="submit-button"
  ></app-button>

  <p>Form valid: {{ userForm.valid }}</p>
</form>
