<form [formGroup]="userForm" class="user-form">
  <div class="user-input">
    <label>First name</label>
    <app-form-input
      formControlName="firstName"
      placeholder="First Name"
      [isInvalid]="isInputInvalid('firstName')"
    ></app-form-input>
  </div>

  <div class="user-input">
    <label>Last name</label>
    <app-form-input
      formControlName="lastName"
      placeholder="Last Name"
      [isInvalid]="isInputInvalid('lastName')"
    ></app-form-input>
  </div>

  <div class="user-input">
    <label>Email</label>
    <app-form-input
      formControlName="email"
      placeholder="Email"
      [isInvalid]="isInputInvalid('email')"
    ></app-form-input>
  </div>

  <div class="user-input">
    <label>Phone</label>
    <app-form-input
      formControlName="phone"
      placeholder="Phone"
      [isInvalid]="isInputInvalid('phone')"
    ></app-form-input>
  </div>

  <app-button
    label="Submit"
    (clicked)="onButtonClick()"
    [disabled]="!userForm.valid"
    class="submit-button"
  ></app-button>

  <p>Form valid: {{ userForm.valid }}</p>
</form>
