.user-form {
  display: flex;
  width: 350px;
  flex-wrap: wrap;
  justify-content: flex-start;
  flex-direction: column;
  gap: 10px;
  padding: 20px;
  border: 1px solid #777;
  border-radius: 6px;
}

.user-input {
  display: flex;
  justify-content: space-between;
  align-items: baseline;
}

.submit-button {
  margin-top: 30px;
  display: flex;
  justify-content: flex-end;
}

.error-container {
  min-height: 18px;
}

.error-text {
  font-size: 12px;
  color: red;
  margin: 0;
}

.select-container {
  display: flex;
  justify-content: flex-end;
}
